body{
  font-family: 'Mitr', sans-serif ;
}
.flex-wrapper{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;

}
.navbar-color{
  background-color: teal;
}
.footer-color{
  background-color: DarkSlateGrey;
}

.box-purple { 
  background: #663399;
  color: #f7f7f7; 
}
.box-pink { 
  background: rgb(173, 37, 139);
  color: #f7f7f7; 
}
.box-info{ 
  background: #20B2AA;
  color: #f7f7f7; 
}
.box-danger { 
  background: #8B4513;
  color: #f7f7f7; 
}
.box-warning {
   background: #FFA500;
   color: #f7f7f7; 
  }
.box-success { 
  background: #228B22;
  color: #f7f7f7; 
}
.box-red { 
  background: rgb(206, 71, 38);
  color: #f7f7f7; 
}
.box-blue { 
  background: rgb(44, 97, 197);
  color: #f7f7f7; 
}
.show-box{
  width: 100%;
  height: 300px;
}